:root {
  // vars
  --g6board-contextmenu-color: #000;
  --g6board-contextmenu-background: #fff;
  --g6board-contextmenu-shadow: 2px 2px 5px 1px #e6e5e5;

  --g6board-contextmenu-title-color: #000;
  --g6board-contextmenu-title-background: none;
  --g6board-contextmenu-title-border-color: #dbdadaaa;

  --g6board-contextmenu-font-size: 0.8rem;

  --g6board-contextmenu-hover-color: blue;
  --g6board-contextmenu-hover-background: rgb(215, 239, 247);

  --g6board-contextmenu-gutter-background: #dbdada88;

  --g6board-contextmenu-separeator-color: #ebebeb transparent #fffefec7
    transparent;

  --g6board-input-tip-color: gray;

  --g6board-zoom-tip-color: #88888888;
}

.g6-board {
  position: relative;
  width: 100%;
  height: 100%;
}

.g6-board--body {
  width: 100%;
  height: 100%;
}

.g6-board--contextmenu {
  position: absolute;
  user-select: none;
  color: var(--g6board-contextmenu-color);
  background: var(--g6board-contextmenu-background);
  box-shadow: var(--g6board-contextmenu-shadow);
  min-width: 160px;
  z-index: 5;
}

.g6-board--contextmenu-title {
  padding: 5px;
  font-size: var(-contextmenu-font-size);
  color: var(--g6board-contextmenu-title-color);
  background: var(--g6board-contextmenu-title-background);
  border-bottom: 1px solid var(--g6board-contextmenu-title-border-color);
  font-weight: bold;
}

.g6-board--contextmenu-items {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    font-size: var(-contextmenu-font-size);

    i {
      display: block;
      width: 30px;
      background: var(--g6board-contextmenu-gutter-background);
    }

    span {
      display: block;
      flex: 1 1;
    }
  }

  li:not(.g6-board--contextmenu-separator) {
    cursor: default;

    &:hover {
      color: var(--g6board-contextmenu-hover-color);
      background: var(--g6board-contextmenu-hover-background);
    }

    span {
      padding: 5px 10px 5px 5px;
    }
  }
}

.g6-board--contextmenu-separator {
  span {
    display: block;
    border-width: 1px 0;
    border-style: solid none;
    border-color: var(--g6board-contextmenu-separeator-color);
    margin: 2px 0;
  }
}

.select-icon() {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.g6-board--dialog {
  .input-tip {
    color: var(--g6board-input-tip-color);
    width: 100%;
    font-size: x-small;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
  }
  .select-icon {
    .select-icon();
  }
}

.g6-board--dialog-body {
  position: relative;
  width: 100%;
  height: 100%;

  .el-form {
    height: calc(100% - 50px);
  }
}

.g6-board--dialog-footer {
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.g6-board--dialog-select-opions {
  .select-icon {
    .select-icon();
  }
}

.g6-board--zoom-tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--g6board-zoom-tip-color);
  font-weight: bold;
  z-index: 999;
  font-size: 8em;
  user-select: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "%";
  }
}
